{% extends 'layout/weui_tab.html' %}
{% set title = '课程预约' %}
{% block style -%}
<link rel="stylesheet" href="/css/course_list.css">
{%- endblock %}
{% block body -%}
<div class="date-box">
  <div class="btn-date btn-prev"></div>
  <div class="text-date">获取日期中...</div>
  <div class="btn-date btn-next"></div>
</div>
<div class="training-list">
  {% raw %}
  <script type="text/template" id="temp">
    {% for items in data %}
    <div class="training-block" data-id="{{ items.id }}" data-course="{{ items.attributes['course-id'] }}">
      <div class="t-b-time">
        <div class="time-begin">{{ items.attributes['start-time'] }}</div>
        <div class="time-over">{{ items.attributes['end-time'] }}</div>
      </div>
      <div class="training-info">
        <div class="t-i-name">{{ items.attributes['course-name'] }}</div>
        <div class="t-i-bottom" data-store="{{ items.attributes['store-id'] }}"><span class="tag-block">基础</span><span class="store-address">门店：{{ items.attributes['store-name'] }}</span></div>
      </div>
      <div class="schedule">
        <span class="schedule-tag">5/6</span>
      </div>
      <div class="schedule-over"><i class="weui_icon_success_circle"></i></div>
    </div>
    {% endfor %}
  </script>
  {% endraw %}
  <div class="training-block">
    <div class="t-b-time">
      <div class="time-begin">07:30</div>
      <div class="time-over">08:30</div>
    </div>
    <div class="training-info">
      <div class="t-i-name">肢蹲肢蹲</div>
      <div class="t-i-bottom"><span class="tag-block">基础</span><span class="store-address">门店：这里是门店名称</span></div>
    </div>
    <div class="schedule">
      <span class="schedule-tag">5/6</span>
    </div>
    <div class="schedule-over"><i class="weui_icon_success_circle"></i></div>
  </div>
  <div class="training-block training-danger">
    <div class="t-b-time">
      <div class="time-begin">07:30</div>
      <div class="time-over">08:30</div>
    </div>
    <div class="training-info">
      <div class="t-i-name">肢蹲肢蹲</div>
      <div class="t-i-bottom"><span class="tag-block">基础</span><span class="store-address">门店：这里是门店名称</span></div>
    </div>
    <div class="schedule">
      <span class="schedule-tag">6/6</span>
    </div>
  </div>
  <div class="training-block training-warning">
    <div class="t-b-time">
      <div class="time-begin">07:30</div>
      <div class="time-over">08:30</div>
    </div>
    <div class="training-info">
      <div class="t-i-name">肢蹲肢蹲</div>
      <div class="t-i-bottom"><span class="tag-block">基础</span><span class="store-address">门店：这里是门店名称</span></div>
    </div>
    <div class="schedule">
      <span class="schedule-tag">0/6</span>
    </div>
  </div>
</div>
{% include 'layout/weui_modal.html' %}
{%- endblock %}
{% block script -%}
<script src="/js/date_tool.js"></script>
<script src="/js/mobile/course_list.js"></script>
{%- endblock %}
