{% extends 'layout/weui.html' %}
(% set title = '课程详情' %}
{% block style -%}
<link rel="stylesheet" href="/css/course_details.css">
{%- endblock %}
{% block body -%}
<div class="box">

</div>

{% raw %}

<script type="text/template" id="tmp">

  <article class="weui-article">
    <h1>{{ data.attributes['course-name'] }}</h1>
    <p class="weui-title">进阶</p>
    <section>
      <h3>时间：{{data.attributes['start_date']}} {{data.attributes['start_time']}}~{{data.attributes['end_time']}}</h3>
      <h3>门店：{{data.attributes['store-name']}}</h3>
      <p class="weui-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
    </section>
  </article>
  <div class="page__ft">
    {% if data.attributes['store-name'] == ''%}
    <div class="weui-btn weui-btn_primary">预约课程</div>
    {% else %}
    <div class="weui-btn weui-btn_warn">取消预约</div>
    {% endif %}
  </div>
</script>
{% endraw %}


{% include 'layout/weui_modal.html' %}
{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/purl/2.3.1/purl.min.js"></script>
<script src="/js/mobile/course_details.js"></script>
{%- endblock %}
