{% extends 'layout/weui.html' %}
(% set title = '课程详情' %}
{% block style -%}
<link rel="stylesheet" href="/css/course_details.css?v1114">
{%- endblock %}
{% block body -%}
<div class="box">

</div>

{% raw %}

<script type="text/template" id="tmp">

  <article class="weui-article">
    <h1>{{ data.attributes['course-name'] }}</h1>
    <p class="weui-title">{{ data.attributes['course-type-name'] }}</p>
    <section>
      <h3>时间：{{data.attributes['start_date']}} {{data.attributes['start_time']}}~{{data.attributes['end_time']}}</h3>
      <h3>门店：{{data.attributes['store-name']}}</h3>
      <p class="weui-desc"></p>
    </section>
  </article>

</script>
<script id="tmp_btn" type="text/template">
  <div class="page__ft">
    {% if (not data.attributes['booking-status'] || data.attributes['booking-status'] == 'no_booked') and  not data.attributes['is-membership-valid']%}
      <div class="weui-btn weui-btn_disabled weui-btn_default">{{data.attributes['customer-reject-msg']}}</div>
    {% else %}
      {% if data.attributes['bookable'] %}
      <div class="weui-btn weui-btn_primary js-btn-bookable">预约课程</div>
      {% elif data.attributes['waitable']%}
      <div class="weui-btn weui-btn_primary js-btn-bookable">排队课程</div>
      {% elif data.attributes['cancelable'] %}
        {% if data.attributes['booking-status'] == "waiting" %}
        <div class="weui-btn weui-btn_warn js-btn-cancel" data-id="{{data.attributes['cancel-id']}}">取消排队</div>
        {% else %}
        <div class="weui-btn weui-btn_warn js-btn-cancel" data-id="{{data.attributes['cancel-id']}}">取消预约</div>
        {% endif %}
      {% elif not data.attributes['booking-status'] and not data.attributes['is-membership-valid'] %}
      <div class="weui-btn weui-btn_disabled weui-btn_default">{{data.attributes['customer-reject-msg']}}</div>
      {% else %}
      <div class="weui-btn weui-btn_disabled weui-btn_default">{{data.attributes['schedule-reject-msg']}}</div>
      {% endif %}
    {% endif %}
  </div>
</script>
{% endraw %}


{% include 'layout/weui_modal.html' %}
{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/purl/2.3.1/purl.min.js?v1114"></script>
<script src="/js/mobile/course_details.js?v1114"></script>
{%- endblock %}
