{% extends 'layout/weui_tab.html' %}
{% set title = "我的" %}
{%- block style -%}
<link rel="stylesheet" href="/css/my.css">
{%- endblock %}

{% set tab_information = "weui-bar__item_on" %}
{% block body %}
<div class="cs-body">
  {% raw %}
  <script type="text/template" id="tmp">
    <div class="cs-title">
      <div class="cs-title-img">
        <img src="/img/heard.jpg" alt="">
      </div>
      <div class="cs-title-name">
        <div class="name-h6">{{ data.name }}</div>
        <div class="name-h7">{{ data.mobile }}</div>
      </div>
    </div>
    <div class="cs-info">
      <ul>
        <li>
          <label for="">卡类别:</label>
          {% if (data['membership-type'] == 'measured_card') %}
          次卡
          {% else %}
          时间卡
          {% endif%}
        </li>
        <li>
          <label for="">剩余次数:</label>{{ data['membership-remaining-times'] }}
        </li>
        <li>
          <label for="">截止时间:</label>{{ data['membership-duedate'] }}
        </li>
        <li>
          <label for="">使用门店:</label>{{ data['store-name'] }}
        </li>
      </ul>
    </div>
    <!-- <div class="cs-list">
      <div class="weui-cells">
        <div class="weui-cell">
                <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>我的预约</p>
                </div>
                <div class="weui-cell__ft"></div>
            </div>

          <div class="weui-cell">
              <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
              <div class="weui-cell__hd ">
                  <p>我的排队</p>
              </div>
              <div class="weui-cell_ft"></div>
          </div>
          <div class="weui-cell">
              <div class="weui-cell_hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
              <div class="weui-cell__hd">
                  <p>已结束的训练</p>
              </div>
              <div class="weui-cell_ft"></div>
          </div>
      </div>
    </div> -->
  </script>
  {% endraw %}
</div>
{% endblock %}
{%- block script -%}
<script src="/js/mobile/my.js"></script>
{%- endblock %}
