{% extends 'layout/weui.html' %}
{% set title = "我的" %}
{%- block style -%}
<link rel="stylesheet" href="/css/my_reserve.css">
{%- endblock %}
{% block body %}
<div class="cs-body">
  <div class="navbar">
    <div class="bd" style="height: 100%;">
        <div class="weui-panel weui-panel_access cs-list-cell">

        {% raw %}
        <script id="temp" type="text/template">
          {% for items in data %}
          <div class="weui-media-box__bd cs-list cs-list-active-a">
              <div class="cs-del">删除</div>
              <div class="cs-text">
                <h4 class="weui-media-box__title">{{ items.attributes['course-name'] }} <em>进阶</em></h4>
                <div class="weui-media-box__desc">
                  <div><label for="门店">门店:</label>{{ items.attributes['store-name'] }}</div>
                  <div><label for="日期">日期:</label>{{ items.attributes['start-timeY'] }} <label for="">时间:</label>{{ items.attributes['start-timeH'] }} - {{ items.attributes['end-timeH'] }} </div>
                </div>
              </div>
          </div>
          {% endfor %}
        </script>
        {% endraw %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{%- block script -%}
<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.18/jquery.touchSwipe.js"></script>
<script src="/js/date_tool.js"></script>
<script src="/js/mobile/trainings_list.js"></script>
{%- endblock %}
