{% extends 'layout/weui_tab.html' %}
{% set title = "已预约" %}
{%- block style -%}
<link rel="stylesheet" href="/css/my_reserve.css?v1114">
{%- endblock %}
{% set tab_message = "weui-bar__item_on" %}
{% block body %}
<div class="cs-body">
  <div class="navbar">
    <div class="bd" style="height: 100%;">
        <div class="weui-panel weui-panel_access cs-list-cell">

        {% raw %}
        <script id="temp" type="text/template">
          {% if data.length <= 0 %}
            暂无训练记录
          {% endif %}
          {% for items in data %}
          <div class="weui-media-box__bd cs-list cs-list-active-a" data-id="{{items.id}}">
              <div class="cs-text">
                <h4 class="weui-media-box__title">{{ items.attributes['course-name'] }}
              {% if items.attributes['training-status'] == "normal" %}
                {% if items.attributes['int-end-time'] >= items.attributes['int-now-time'] and items.attributes['int-start-time'] <=  items.attributes['int-now-time'] %}
                  <em class="em-booked em-training">进行中</em>
                {% elif items.attributes['int-end-time'] <= items.attributes['int-now-time'] %}
                  <em class="em-complete">已完成</em>
                {% else %}
                  {% if items.attributes['booking-status'] == "booked" or items.attributes['booking-status'] == "no_booking" %}
                    <em class="cancel-em cancel-true em-booked" data-id="{{items.id}}">已预约</em>
                  {% elif items.attributes['booking-status'] == "waiting" %}
                    <em class="cancel-em cancel-true em-booked" data-id="{{items.id}}">排队中</em>
                  {% endif %}
                {% endif %}
              {% elif items.attributes['training-status'] == "absence" %}
                <em class="em-absence">缺席</em>
              {% elif items.attributes['training-status'] == "be_late" %}
                <em class="em-be_late">迟到</em>
              {% endif %}
                </h4>
                <div class="weui-media-box__desc">
                  <div><label>门店:</label>{{ items.attributes['store-name'] }}</div>
                  <div><label>日期:</label>{{ items.attributes['start-timeY'] }} <label>时间:</label>{{ items.attributes['start-timeH'] }} - {{ items.attributes['end-timeH'] }} </div>
                </div>
              </div>
            {% if items.attributes['int-start-time'] >=  items.attributes['int-now-time'] %}
              {% if items.attributes['training-status'] == "normal" %}
                <div class="cs-del cs-cancel">取消预约</div>
              {% endif %}
            {% endif %}
          </div>
          {% endfor %}
        </script>
        {% endraw %}
      </div>
    </div>
  </div>
</div>

{% include 'layout/weui_modal.html' %}
{% endblock %}

{%- block script -%}
<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.18/jquery.touchSwipe.js"></script>
<script src="/js/date_tool.js?v1114"></script>
<script src="/js/mobile/trainings_list.js?v1116"></script>
{%- endblock %}
