{% extends 'layout/weui.html' %}
{% set title = "我的" %}
{%- block style -%}
<link rel="stylesheet" href="/css/my_reserve.css">
{%- endblock %}
{% block body %}
<div class="cs-body">
  <div class="navbar">
    <div class="bd" style="height: 100%;">
        <div class="weui-panel weui-panel_access cs-list-cell">

        {% raw %}
        <script id="temp" type="text/template">
          {% for items in data %}
          <div class="weui-media-box__bd cs-list cs-list-active-a" data-id="{{items.id}}">
              <div class="cs-text">
                <h4 class="weui-media-box__title">{{ items.attributes['course-name'] }}
              {% if items.attributes['training-status'] == "not_start" %}

                {% if items.attributes['booking-status'] == "booked" or items.attributes['booking-status'] == "no_booking" %}
                  <em class="cancel-em cancel-true em-booked" data-id="{{items.id}}">已预约</em>
                {% elif items.attributes['booking-status'] == "cancelled" %}
                  <em class="canceled-em cancel-true em-cancelled" data-id="{{items.id}}">已取消</em>
                {% endif %}

              {% elif items.attributes['training-status'] == "complete" %}
                  {% if items.attributes['booking-status'] == "booked" or items.attributes['booking-status'] == "no_booking"%}
                  <em class="em-complete">已完成</em>
                  {% else %}
                  <em class="em-over">已结束</em>
                  {% endif %}

              {% elif items.attributes['training-status'] == "absence" %}

                {% if items.attributes['booking-status'] == "booked" %}
                  <em class="em-absence">缺席</em>
                {% endif %}

              {% elif items.attributes['training-status'] == "be_late" %}

                {% if items.attributes['booking-status'] == "booked" %}
                  <em class="em-be_late">迟到</em>
                {% endif %}

              {% endif %}
                </h4>
                <div class="weui-media-box__desc">
                  <div><label>门店:</label>{{ items.attributes['store-name'] }}</div>
                  <div><label>日期:</label>{{ items.attributes['start-timeY'] }} <label>时间:</label>{{ items.attributes['start-timeH'] }} - {{ items.attributes['end-timeH'] }} </div>
                </div>
              </div>
            <!-- {% if items.attributes['training-status'] == "not_start" %} -->
            <div class="cs-del">取消预约</div>
            <!-- {% endif %} -->
          </div>
          {% endfor %}
        </script>
        {% endraw %}
      </div>
    </div>
  </div>
</div>

{% include 'layout/weui_modal.html' %}
{% endblock %}

{%- block script -%}
<script src="//cdn.bootcss.com/jquery.touchswipe/1.6.18/jquery.touchSwipe.js"></script>
<script src="/js/date_tool.js"></script>
<script src="/js/mobile/trainings_list.js"></script>
{%- endblock %}
