<header class="nav-bar">
  <div class="nav-center">
    <div class="logo"></div>
    <div class="nav-menu-bar">
      <ul class="menu-list">
        <li><a href="/storeManage">课程管理</a></li>
        <li><a href="/clientList">客户管理</a></li>
        <!--<li><a href="/trainingHistory">训练管理</a></li>-->
        <li><a href="/countClient">报表统计</a></li>
        <li><a href="/adminList">系统管理</a></li>
      </ul>
    </div>
    <div class="help-block">
      <!--<i class="glyphicon glyphicon-question-sign"></i><span>帮助</span>-->
    </div>
    <div class="user-block sign-out">注销</div>
    <div class="user-block"><span class="user-name"> </span></div>
  </div>
</header>
