<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="format-detection" content="telephone=no"/>
  <title>{{title}}</title>
  {% if basePath -%}
  <base href="{{basePath}}">
  {%- endif -%}
  {%- block head -%}
  <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css">
  <link rel="stylesheet" href="/css/weui_x.css">
  {%- block style -%}

  {%- endblock %}
  <script type="text/javascript">
  const token = sessionStorage.weixinToken;
  if(location.pathname != '/app/courseList' && !token){
    location.href = '/app/courseList';
  }
  </script>
  {%- endblock %}
</head>
<body ontouchstart>
{% block body -%}
{%- endblock -%}
<div class="weui-tabbar">
  <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
    <img src="/img/menu.png" alt="" class="weui-tabbar__icon">
    <img src="/img/menu_on.png" alt="" class="weui-tabbar__icon weui-tabbar__icon_on">
    <p class="weui-tabbar__label">课程</p>
  </a>
  <a href="javascript:;" class="weui-tabbar__item">
    <img src="/img/msg.png" alt="" class="weui-tabbar__icon">
    <img src="/img/msg_on.png" alt="" class="weui-tabbar__icon weui-tabbar__icon_on">
    <p class="weui-tabbar__label">消息</p>
  </a>
  <a href="javascript:;" class="weui-tabbar__item">
    <img src="/img/my.png" alt="" class="weui-tabbar__icon">
    <img src="/img/my_on.png" alt="" class="weui-tabbar__icon weui-tabbar__icon_on">
    <p class="weui-tabbar__label">我</p>
  </a>
</div>
{%- block foot %}
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/moblie/cs_weixin.js"></script>
{% block script -%}

{%- endblock %}
{% endblock -%}
</body>
</html>
