<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="format-detection" content="telephone=no"/>
  <title>{{title}}</title>
  {% if basePath -%}
  <base href="{{basePath}}">
  {%- endif -%}
  {%- block head -%}
  <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
  <link rel="stylesheet" href="/css/weui_x.css">
  {%- block style -%}

  {%- endblock %}
  {%- endblock %}
</head>
<body ontouchstart>
{% block body -%}
{%- endblock -%}
<div class="weui-tabbar">
  <a href="/app/courseList" class="weui-tabbar__item {{tab_default}}">
    <img src="/img/menu.png" alt="" class="weui-tabbar__icon">
    <img src="/img/menu_on.png" alt="" class="weui-tabbar__icon weui-tabbar__icon_on">
    <p class="weui-tabbar__label">课程表</p>
  </a>
  <a href="/app/trainingsList" class="weui-tabbar__item {{tab_message}}">
    <img src="/img/msg.png" alt="" class="weui-tabbar__icon">
    <img src="/img/msg_on.png" alt="" class="weui-tabbar__icon weui-tabbar__icon_on">
    <p class="weui-tabbar__label">已预约</p>
  </a>
  <a href="/app/my" class="weui-tabbar__item {{tab_information}}">
    <img src="/img/my.png" alt="" class="weui-tabbar__icon">
    <img src="/img/my_on.png" alt="" class="weui-tabbar__icon weui-tabbar__icon_on">
    <p class="weui-tabbar__label">我</p>
  </a>
</div>
{%- block foot %}
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/nunjucks/2.4.2/nunjucks.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
<script src="/js/common.js"></script>
<script src="/js/mobile/weixin.js"></script>
{% block script -%}

{%- endblock %}
{% endblock -%}
</body>
</html>
