{% extends 'layout/tab_client.html' %}
{% block style -%}
<link rel="stylesheet" href="css/client_member_info.css">
{%- endblock %}
{% set breadcrumb = '会员详情' %}
{% block body -%}
<div class="container-title">会员详情</div>
<div class="member-block js-member-info">
  <!--<div class="member-title">会员名称</div>-->
  <!--<div class="member-row"><span>电话：13376250246</span><span>微信号：13376250246</span></div>-->
  <!--<div class="member-row"><span>状态：正常</span><span>门店：门店一，门店二</span></div>-->
</div>
<div class="tab-box">
  <div class="tab-bar">
    <div class="tab-bar-block active">训练记录</div>
    <div class="tab-bar-block">会员卡变更记录</div>
  </div>
  <div class="tab-container">
    <div class="content-text tab-container-block trainings-block">
      <ul class="content-table title">
        <li class="table-checkbox"> </li>
        <li>时间</li>
        <li>门店</li>
        <li class="table-cell-info">课程名称</li>
        <li>状态</li>
      </ul>
      <div class="training-container"></div>
      <nav>
        <ul class="pagination iy-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </nav>
      <!--<div class="training">-->
        <!--<span>总共预约<em class="text-blue">290</em>次</span>-->
        <!--<span>完成<em class="text-green">220</em>次</span>-->
        <!--<span>取消<em class="text-red">12</em>次</span>-->
        <!--<span>缺席<em class="text-brown">20</em>次</span>-->
      <!--</div>-->
    </div>


    <div class="content-text tab-container-block operating-block">
      <ul class="content-table title">
        <li class="table-checkbox"> </li>
        <li>操作人</li>
        <li>变更用户</li>
        <li>操作时间</li>
        <li class="table-cell-info">操作说明</li>
      </ul>
      <div class="opt-container"></div>

      <nav>
        <ul class="pagination iy-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </nav>
    </div>


  </div>
</div>
<script id="tmp_member_info" type="text/template">
  {% raw %}
  <div class="member-title">{{ data.name }}</div>
  <div class="member-row"><span>电话：{{ data.mobile }}</span><span>微信号：{{ data.weixin }}</span></div>
  <div class="member-row"><span>状态：{%if data['is-locked']%}正常{% else %}锁定{%endif%}</span><span>门店：{{ data['store-name'] }}</span></div>
  {% endraw %}
</script>

<script id="tmp_opt_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <ul class="content-table">
    <li class="table-checkbox">{{loop.index}}</li>
    <li>{{ item.attributes['customer-name'] }}</li>
    <li>{{ item.attributes['user-name'] }}</li>
    <li>{{ item.attributes['created-at'] }}</li>
    <li class="table-cell-info">
      <p>
        {{item.attributes['description']}}
      </p>
    </li>
  </ul>
  {% endfor %}
  {% endraw %}
</script>

<script id="tmp_training_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <ul class="content-table">
    <li class="table-checkbox">{{loop.index}}</li>
    <li>{{item.attributes['updated_at']}}</li>
    <li>{{item.attributes['store_name']}}</li>
    <li class="table-cell-info">{{item.attributes['course_name']}}</li>
    <li>
      {% if item.attributes['training_status'] === 'complete' %}
      完成
      {% elif item.attributes['training_status'] === 'absence' %}
      缺席
      {% elif item.attributes['training_status'] === 'be_late' %}
      迟到
      {% endif %}
    </li>
  </ul>
  {% endfor %}
  {% endraw %}
</script>

{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script src="js/client_member_info.js"></script>
{%- endblock %}
