{% extends 'layout/tab_client.html' %}
{% block style -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="css/client_list_add.css">
{%- endblock %}
{% set breadcrumb = '会员列表' %}
{% block body -%}
<div class="storeadd-box">
  <div class="content-title">
    <h4>添加 / 编辑课程</h4>
  </div>
  <div class="content-text">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-1-2 control-label">会员名称：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="请输入内容">
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-1-2 control-label">电话：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="请输入内容">
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-1-2 control-label">微信号：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="请输入内容">
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-1-2 control-label">会员卡类型：</label>
        <div class="col-sm-4">
          <select class="form-control selectpicker" title="请选择">
            <option>1</option>
            <option>2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-1-2 control-label">截止时间：</label>
        <div class="col-sm-4">
          <div class='input-group date datetimepicker'>
            <input type='text' class="form-control" />
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-1-2 control-label">门店：</label>
        <div class="col-sm-4">
          <select class="form-control selectpicker" title="请选择" multiple>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
          </select>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-info">保存</button>
  </div>
</div>
{%- endblock %}
{% block script -%}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
{%- endblock %}