{% extends 'layout/tab_client.html' %}
{% block style -%}
<link rel="stylesheet" href="css/client_list.css?v1114">
{%- endblock %}
{% set breadcrumb = '会员列表' %}
{% set clientCardList = 'active' %}
{% block body -%}
<div class="member-list">
  <div class="content-add">
    <!--<div class="input-group iy-right">-->
      <!--<input type="text" class="form-control" placeholder="请输入关键词">-->
      <!--<span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>-->
    <!--</div>-->
  </div>
  <div class="content-text">
    <ul class="content-table title">
      <li class="table-checkbox"> </li>
      <li>会员名称</li>
      <li>会员卡类型</li>
      <li>操作人</li>
      <li>操作时间</li>
      <li class="table-cell-4">说明</li>
    </ul>
    <div class="list-box">

    </div>
    <!--<nav>-->
      <!--<ul class="pagination iy-right">-->
        <!--<li><a href="#">&laquo;</a></li>-->
        <!--<li><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
        <!--<li><a href="#">&raquo;</a></li>-->
      <!--</ul>-->
    <!--</nav>-->
  </div>
</div>


<script id="tmp_opt_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <ul class="content-table">
    <li class="table-checkbox">{{loop.index}}</li>
    <li>{{ item.attributes['customer-name'] }}</li>
    <li>
      {% if item.attributes['membership-type'] == 'time_card' %}
      时间卡
      {% else %}
      次卡
      {% endif %}
    </li>
    <li>{{ item.attributes['user-name'] }}</li>
    <li>{{ item.attributes['created_at'] }}</li>
    <li class="table-cell-4 table-cell-info more-height" title="{{item.attributes['description']}}">
      <p>
        {{item.attributes['description']}}
      </p>
    </li>
  </ul>
  {% endfor %}
  {% endraw %}
</script>

{%- endblock %}
{% block script -%}
<script src="/js/client_card_list.js?v1114"></script>
{%- endblock %}
