{% extends 'layout/tab_client.html' %}
{% block style -%}
<link rel="stylesheet" href="css/client_list.css">
{%- endblock %}
{% set breadcrumb = '会员列表' %}
{% block body -%}
<div class="member-list">
  <div class="content-add">
    <a href="storeManageAdd" class="btn btn-large btn-block btn-info iy-left">添加</a>
    <div class="input-group iy-right">
      <input type="text" class="form-control" placeholder="请输入关键词">
      <span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>
    </div>
  </div>
  <div class="content-text">
    <ul class="content-table title">
      <li class="table-checkbox">1</li>
      <li>会员名称</li>
      <li>会员卡类型</li>
      <li>操作</li>
      <li class="table-cell-info">操作</li>
    </ul>
    <ul class="content-table">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>时间卡</li>
      <li>变更截止日期</li>
      <li class="table-cell-info">
        <p>
          这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明这里是说明
        </p>
      </li>
    </ul>
    <ul class="content-table">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>时间卡</li>
      <li>变更截止日期</li>
      <li class="table-cell-info">
          <p>
            这里是说明这里是说明
          </p>
      </li>
    </ul>
    <ul class="content-table">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>时间卡</li>
      <li>变更截止日期</li>
      <li class="table-cell-info">
          <p>
            这里是说明这里是说明
          </p>
      </li>
    </ul>
    <nav>
      <ul class="pagination iy-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
</div>
{%- endblock %}
{% block script -%}
{{ super() }}
{%- endblock %}