{% extends 'layout/tab_client.html' %}
{% block style -%}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="css/client_list.css?v1114">
{%- endblock %}
{% set breadcrumb = '会员列表' %}
{% set clientList = 'active' %}
{% block body -%}
<div class="member-list">
  <div class="content-add">
    <a href="clientListAdd" class="btn btn-large btn-block btn-info iy-left">添加</a>
    <div class="input-group iy-right">
      <input type="text" class="form-control query-string" placeholder="请输入关键词">
      <span class="input-group-addon btn-query"><em class="glyphicon glyphicon-search"></em></span>
    </div>
    <div class="input-group select-store-box iy-right">
      <select class="form-control select-store" title="请选择门店">
      </select>
    </div>
  </div>
  <div class="content-text">
    <ul class="content-table title">
      <li class="table-checkbox"> </li>
      <li>会员名称</li>
      <li>会员卡类型</li>
      <li>电话</li>
      <li class="table-cell-2">微信号</li>
      <li class="more-height"><p>截止时间</p><p>剩余次数</p></li>
      <li>会员状态</li>
      <li class="table-cell-auto">操作</li>
    </ul>

    <div class="list-box">

    </div>

    <!--<nav>-->
      <!--<ul class="pagination iy-right">-->
        <!--<li><a href="#">&laquo;</a></li>-->
        <!--<li><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
        <!--<li><a href="#">&raquo;</a></li>-->
      <!--</ul>-->
    <!--</nav>-->
  </div>
</div>

{% block modal -%}
{% include 'layout/modal.html' %}
{%- endblock %}
<script id="tmp_select_store" type="text/template">
  {% raw %}
  {% for item in data %}
  <option value="{{ item.id }}">{{ item.attributes.name }}</option>
  {% endfor %}
  {% endraw %}
</script>
<script id="tmp_client_list" type="text/template">
  {% raw %}
  {% for item in data %}
  <ul class="content-table">
    <li class="table-checkbox">{{ loop.index }}</li>
    <li>{{ item.attributes.name }}</li>
    <li>
      {% if item.attributes['membership-type'] == 'time_card' %}
        时间卡
      {% else %}
        次卡
      {% endif %}
    </li>
    <li>{{ item.attributes.mobile }}</li>
    <li class="table-cell-2">{{ item.attributes.weixin }}</li>
    <li>
      {% if item.attributes['membership-type'] == 'time_card' %}
        {{ item.attributes['membership-duedate'] }}
      {% else %}
        {{ item.attributes['membership-remaining-times'] }}
      {% endif %}
    </li>
    <li>
      {% if item.attributes['is-locked'] %}
        已锁定
      {% else %}
        正常
      {% endif %}
    </li>
    <li class="table-cell-auto">
      <a href="clientListAdd#code={{ item.code }}">编辑</a>
      <a href="clientMemberInfo#code={{ item.code }}&type=unactive">变更记录</a>
      <a href="clientMemberInfo#code={{ item.code }}&type=active">训练记录</a>
      {% if item.attributes['is-locked'] %}
      <a class="j-unlocked" data-id="{{item.id}}">解锁</a>
      {% else %}
      <a class="j-locked" data-id="{{item.id}}">锁定</a>
      {% endif %}
    </li>
  </ul>
  {% endfor %}
  {% endraw %}
</script>
{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="/js/client_list.js?v1115"></script>
{%- endblock %}
