{% extends 'layout/tab_client.html' %}
{% block style -%}
<link rel="stylesheet" href="css/client_member_info.css?v1114">
{%- endblock %}
{% set breadcrumb = '会员详情' %}
{% block body -%}
<div class="container-title">会员详情</div>
<div class="member-block js-member-info">
  <!--<div class="member-title">会员名称</div>-->
  <!--<div class="member-row"><span>电话：13376250246</span><span>微信号：13376250246</span></div>-->
  <!--<div class="member-row"><span>状态：正常</span><span>门店：门店一，门店二</span></div>-->
</div>
<div class="tab-box">
  <div class="tab-bar">
    <div class="tab-bar-block active">训练记录</div>
    <div class="tab-bar-block">会员卡变更记录</div>
  </div>
  <div class="tab-container">
    <div class="content-text tab-container-block trainings-block">
      <ul class="content-table title">
        <li class="table-checkbox"> </li>
        <li class="table-cell-2">预约时间</li>
        <li class="table-cell-2">门店</li>
        <li class="table-cell-3">课程时间</li>
        <li class="table-cell-5 table-cell-info">课程名称</li>
        <li class="table-cell-2">状态</li>
      </ul>
      <div class="training-container"></div>

      <!--<div class="training">-->
        <!--<span>总共预约<em class="text-blue">290</em>次</span>-->
        <!--<span>完成<em class="text-green">220</em>次</span>-->
        <!--<span>取消<em class="text-red">12</em>次</span>-->
        <!--<span>缺席<em class="text-brown">20</em>次</span>-->
      <!--</div>-->
    </div>


    <div class="content-text tab-container-block operating-block">
      <ul class="content-table title">
        <li class="table-checkbox"> </li>
        <li>操作人</li>
        <li class="table-cell-2">操作时间</li>
        <li class="table-cell-5 table-cell-info">操作说明</li>
      </ul>
      <div class="opt-container"></div>
    </div>


  </div>
</div>
<script id="tmp_member_info" type="text/template">
  {% raw %}
  <div class="member-title">{{ data.name }}</div>
  <div class="member-row"><span>电话：{{ data.mobile }}</span><span>微信号：{% if data['is-weixin-connected']%}已绑定{% else %}未绑定{% endif %}</span></div>
  <div class="member-row"><span>状态：{%if data['is-locked']%}锁定{% else %}正常{%endif%}</span><span>门店：{{ data['store-name'] }}</span></div>
  {% endraw %}
</script>

<script id="tmp_opt_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <ul class="content-table">
    <li class="table-checkbox">{{loop.index}}</li>
    <li>{{ item.attributes['user-name'] }}</li>
    <li class="table-cell-2">{{ item.attributes['created_at'] }}</li>
    <li class="table-cell-4 table-cell-info more-height" title="{{item.attributes['description']}}">
      <p>
        {{item.attributes['description']}}
      </p>
    </li>
  </ul>
  {% endfor %}
  {% endraw %}
</script>

<script id="tmp_training_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <ul class="content-table">
    <li class="table-checkbox">{{loop.index}}</li>
    <li class="table-cell-2">{{item.attributes['updated_at']}}</li>
    <li class="table-cell-2">{{item.attributes['store-name']}}</li>
    <li class="table-cell-3">{{ item.attributes['start_time'] }}</li>
    <li class="table-cell-5 table-cell-info">{{item.attributes['course-name']}}</li>
    <li class="table-cell-2">{{item.attributes['readable-status']}}</li>
  </ul>
  {% endfor %}
  {% endraw %}
</script>

{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
<script src="js/client_member_info.js?v1114"></script>
{%- endblock %}
