{% extends 'layout/tab_count.html' %}
{% block style -%}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="css/count.css?v1114">
{%- endblock %}
{% set secondary = '报表统计'%}
{% set breadcrumb = '课程报表' %}
{% set countReserve = 'active' %}
{% block body -%}
<div class="content-add form-add">
  <div class='input-group date datetimepicker start_datetime iy-left'>
    <input type='text' id="start_datetime" class="form-control form-datetimepicker" placeholder="请输入开始时间">
    <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
  </div>
  <div class='input-group date datetimepicker over_datetime iy-left'>
    <input type='text' id="over_datetime" class="form-control form-datetimepicker" placeholder="请输入结束时间">
    <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
  </div>
  <div class="btn btn-large btn-info">搜索</div>

  <div class="input-group select-store-box iy-right">
    <select class="form-control select-store">
      {% raw %}
        <script type='text/template' id='temp_Select'>
          {% for item in data %}
          <option value="{{ item.id }}">{{ item.attributes.name }}</option>
          {% endfor %}
        </script>
      {% endraw %}
    </select>
  </div>
</div>
<div class="content-text">
  <ul class="content-table title">
    <li class="table-checkbox"></li>
    <li>课程名称</li>
    <li>课程</li>
    <li>门店</li>
    <li>课程总容量</li>
    <li>预约人次</li>
    <li>缺席人次</li>
    <li>完成人次</li>
    <li>迟到人次</li>
  </ul>

  {% raw %}
  <script type='text/template' id='temp' >
    {% for items in data %}
      <ul class="content-table list">
        <li class="table-checkbox">{{ loop.index }}</li>
        <li>{{ items.attributes['course-name'] }}</li>
        <li>{{ items.attributes['store-name'] }}</li>
        <li>{{ items.attributes['course-type'] }}</li>
        <li>{{ items.attributes['total-capacity'] }}</li>
        <li>{{ items.attributes['count-of-valid-booking'] }}</li>
        <li>{{ items.attributes['count-of-absence'] }}</li>
        <li>{{ items.attributes['count-of-complete'] }}</li>
        <li>{{ items.attributes['count-of-be-late'] }}</li>
      </ul>
    {% endfor %}
  </script>
  {% endraw %}

</div>
{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="js/count_reserve.js?v1116"></script>
{%- endblock %}
