{% extends 'layout/tab_count.html'%}
{% block style -%}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="css/count.css?v1114">
{%- endblock %}
{% set secondary = '报表统计'%}
{% set breadcrumb = '客户报表'%}
{% set countClient = 'active' %}
{% block body -%}
  <div class="content-add form-add">
    <div class='input-group date datetimepicker start_datetime iy-left'>
      <input type='text' id="start_datetime" class="form-control" placeholder="请输入开始时间">
      <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
    </div>
    <div class='input-group date datetimepicker over_datetime iy-left'>
      <input type='text' id="over_datetime" class="form-control" placeholder="请输入结束时间">
      <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
    </div>
    <div class="btn btn-large btn-info">搜索</div>
  </div>
  <div class="content-text" style="width:1200px">
    <ul class="content-table title">
      <li class="table-checkbox"></li>
      <li>会员名称</li>
      <li>预约人次</li>
      <li>排队中的人次</li>
      <li>排队成功人次</li>
      <li>预约成功人次</li>
      <li>未预约人次</li>
      <li>预约取消人次</li>
      <li>未开始人次</li>
      <li>迟到人次</li>
      <li>缺席人次</li>
      <li>完成人次</li>
      <li>课程偏好</li>
      <li>时段偏好</li>
    </ul>

    {% raw %}
    <script type='text/template' id='temp' >
      {% for items in data %}
        <ul class="content-table list">
          <li class="table-checkbox">{{ loop.index }}</li>
          <li>{{ items.attributes['customer-name'] }}</li>
          <li>{{ items.attributes['count-of-trainings'] }}</li>
          <li>{{ items.attributes['count-of-waiting'] }}</li>
          <li>{{ items.attributes['count-of-waiting-confirmed'] }}</li>
          <li>{{ items.attributes['count-of-booked'] }}</li>
          <li>{{ items.attributes['count-of-no-booking'] }}</li>
          <li>{{ items.attributes['count-of-cancelled'] }}</li>
          <li>{{ items.attributes['count-of-not-start'] }}</li>
          <li>{{ items.attributes['count-of-be-late'] }}</li>
          <li>{{ items.attributes['count-of-absence'] }}</li>
          <li>{{ items.attributes['count-of-complete'] }}</li>
          <li>
            <a href="javascript:void(0);" class="kcph" type='0' data = {{ items.attributes['favarite-courses'] }}>查看</a>
            <!-- <div class="chart-tmp">
              <h4 class="tmp-left">课程偏好统计</h4>
              <div id="c1"></div>
            </div> -->
          </li>
          <li>
            <a href="javascript:void(0);" class="kcph" type='1' data = {{ items.attributes['favorite-time-slots'] }}>查看</a>
          </li>
          <!-- <li>{{ items.attributes['favarite-courses'] }}</li>
          <li>{{ items.attributes['favorite-time-slots'] }}</li> -->
        </ul>
      {% endfor %}
    </script>
    {% endraw %}

  </div>
{% endblock -%}
{%- block script %}
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://as.alipayobjects.com/g/datavis/g2/2.0.1/index.js"></script>
<script src="js/count_client.js?v1114"></script>
{%- endblock %}
