{% extends 'layout/tab_count.html'%}
{% block style -%}
<link rel="stylesheet" href="css/count.css?v1114">
{%- endblock %}
{% set secondary = '报表统计'%}
{% set breadcrumb = '客户统计'%}
{% set countClient = 'active' %}
{% block body -%}
  <div class="content-add">
    <!-- <a href="storeManageAdd" class="btn btn-large btn-block btn-info iy-left">+ 添加</a> -->
    <div class="input-group iy-right">
      <input type="text" class="form-control" placeholder="请输入关键词">
      <span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>
    </div>
  </div>
  <div class="content-text">
    <ul class="content-table title">
      <li class="table-checkbox">1</li>
      <li>会员名称</li>
      <li>总完课次数</li>
      <li>上周总完课次数</li>
      <li>上月总完课次数</li>
      <li>总缺席率</li>
      <li>课程偏好</li>
      <li>时段偏好分布</li>
    </ul>

    {% raw %}
    <script type='text/template' id='#temp' >
      {% for items in data %}
        <ul class="content-table">
          <li class="table-checkbox">1</li>
          <li>{{ items.attributes['customer-name'] }}</li>
          <li>{{ items.attributes['customer-name'] }}</li>
          <li>{{ items.attributes['customer-name'] }}</li>
          <li>{{ items.attributes['customer-name'] }}</li>
          <li>
            <div class="y">
              <div class="one-y"></div>
              <div class="two-y"></div>
            </div>
          </li>
          <li>
            <a href="#" class="kcph">查看</a>
          </li>
          <li>
            <a href="#">查看</a>
          </li>
        </ul>
      {% endfor %}
    </script>
    {% endraw %}

    <!-- <ul class="content-table">
      <li class="table-checkbox">1</li>
      <li>先生</li>
      <li>34</li>
      <li>34</li>
      <li>123</li>
      <li>
        <div class="y">
          <div class="one-y"></div>
          <div class="two-y"></div>
        </div>
      </li>
      <li>
        <a href="#" class="kcph">查看</a>
        <div class="chart-tmp">
          <h4 class="tmp-left">课程偏好统计</h4>
          <div id="c1"></div>
        </div>
      </li>
      <li>
        <a href="#">查看</a>
        <div class="chart-tmp chart-tmp-left">
          <h4 class="tmp-left">课程偏好统计</h4>
        </div>
      </li>
    </ul>
    <nav>
      <ul class="pagination iy-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav> -->

  </div>
{% endblock -%}
{%- block script %}
<script src="https://as.alipayobjects.com/g/datavis/g2/2.0.1/index.js"></script>
<script src="js/count_client.js?v1114"></script>
<!-- {% raw %}
<script type="text/template" id="temp">
  <div class="chart-tmp">
    <h4 class="tmp-left">课程偏好统计</h4>
  </div>
</script>
{% endraw %} -->
{%- endblock %}
