{% extends 'layout/tab_course.html'%}
{% block style -%}
<link rel="stylesheet" href="css/course.css">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '课程管理'%}
{% set courseManagement = 'active'%}
{% block body -%}
  <div class="content-add">
    <a href="courseManagementAdd" class="btn btn-large btn-block btn-info iy-left">+ 添加</a>
    <div class="input-group iy-right">
      <input type="text" class="form-control" placeholder="请输入关键词">
      <span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>
    </div>
  </div>
  <div class="content-text">
    <ul class="content-table title">
      <li class="table-checkbox"> </li>
      <li>课程名称</li>
      <li>门店</li>
      <li>课程分类</li>
      <li>额度人数</li>
      <li>课程状态</li>
      <li>操作</li>
    </ul>
    <div class="list-container">

    </div>
    {% raw %}
    <script type="text/template" id="temp">
      {% for items in data %}
      <ul class="content-table" data-id="{{ items.id }}">
        <li class="table-checkbox">{{loop.index}}</li>
        <li>{{ items.attributes.name }}</li>
        <li>{{ items.attributes['store-id'] }}</li>
        <li>{{ items.attributes['type-id'] }}</li>
        <li>{{ items.attributes['default-capacity'] }}</li>
        <li>
          {% if items.attributes.status == 'active' %}
          √
          {% else %}
          ×
          {% endif %}
        </li>
        <li>
          <a href="courseManagementAdd#code={{items.code}}">编辑</a>
          <a data-id="{{items.id}}">删除</a>
        </li>
      </ul>
      {% endfor %}
    </script>
    {% endraw %}
    <nav>
      <ul class="pagination iy-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>

  </div>
{% block modal -%}
{% include 'layout/modal.html' %}
{%- endblock %}
{% endblock -%}
{%- block script %}
<script src="js/course_management.js"></script>
{%- endblock %}
