{% extends 'layout/tab_course.html'%}
{% block style -%}
<link rel="stylesheet" href="css/course.css">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '课程分类管理'%}
{% set courseSort = 'active'%}
{% block body -%}
  <div class="content-add">
    <a href="courseSortAdd" class="btn btn-large btn-block btn-info iy-left">+ 添加</a>
    <div class="input-group iy-right">
      <input type="text" class="form-control" placeholder="请输入关键词">
      <span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>
    </div>
  </div>
  <div class="content-text">
    <ul class="content-table title">
      <li class="table-checkbox">1</li>
      <li>分类名称</li>
      <li>操作</li>
    </ul>
    <div class="list-container">

    </div>
    <!--<ul class="content-table">-->
      <!--<li class="table-checkbox">1</li>-->
      <!--<li>杭州市西湖区</li>-->
      <!--<li>-->
        <!--<a href="#">编辑</a>-->
        <!--<a href="#">删除</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul class="content-table">-->
      <!--<li class="table-checkbox">1</li>-->
      <!--<li>杭州市西湖区</li>-->
      <!--<li>-->
        <!--<a href="#">编辑</a>-->
        <!--<a href="#">删除</a>-->
      <!--</li>-->
    <!--</ul>-->
    <nav>
      <ul class="pagination iy-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>

  </div>
{% endblock -%}
{% block modal -%}
{% include 'layout/modal.html' %}
{%- endblock %}
{%- block script %}
<script id="tmp_course_sort" type="text/template">
  {% raw %}
  {% for item in data -%}
  <ul class="content-table" data-id="{{item.typeId}}">
    <li class="table-checkbox">1</li>
    <li>{{item.typeName}}</li>
    <li>
      <a href="#">编辑</a>
      <a href="#">删除</a>
    </li>
  </ul>
  {%- endfor %}
  {% endraw %}
</script>
<script src="js/cours_sort.js"></script>
{%- endblock %}
