{% extends 'layout/tab_course.html'%}
{% block style -%}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="css/course.css">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '课程分类管理'%}
{% set courseSort = 'active'%}
{% block body -%}
<div class="storeadd-box">
  <div class="content-title">
    <h4>设置课程分类</h4>
  </div>
  <div class="content-text">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-1-2 control-label">课程分类名称：</label>
        <div class="col-sm-3">
          <input type="text" id="j-type" class="form-control" placeholder="请输入分类">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1-2 control-label">课程分类描述：</label>
        <div class="col-sm-3">
          <textarea id="j-description" class="form-control" placeholder="请输入分类描述"></textarea>
        </div>
      </div>
    </form>
    <button id="j-save" type="button" class="btn btn-info">保存</button>
  </div>
</div>
{% endblock -%}
{% block modal -%}
{% include 'layout/modal.html' %}
{%- endblock %}
{%- block script %}
<!-- Latest compiled and minified JavaScript -->
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="js/cours_sort_add.js"></script>
{%- endblock %}
