{% extends 'layout/tab_course.html'%}
{% block style -%}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="css/course.css">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '课程分类管理'%}
{% block body -%}
<div class="storeadd-box">
  <div class="content-title">
    <h4>设置课程分类</h3>
  </div>
  <div class="content-text">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="input3" class="col-sm-1-2 control-label">课程分类名称：</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" placeholder="请输入分类">
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-info">保存</button>
  </div>
</div>
{% endblock -%}
{%- block script %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="js/store_manage.js"></script>
<script type="text/javascript">
  $('.selectpicker').selectpicker({
    size: 4
  });
</script>
{%- endblock %}
