{% extends 'layout/tab_course.html'%}
{% block style -%}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/css/course.css?v1114">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '课程规则'%}
{% set courseRules = 'active'%}
{% block body -%}
<div class="content-add">
  <!--<div class="input-group iy-right">-->
    <!--<input type="text" class="form-control" placeholder="请输入关键词">-->
    <!--<span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>-->
  <!--</div>-->
</div>
<div class="content-text">
  <ul class="content-table title">
    <li class="table-checkbox"></li>
    <li>设置项</li>
    <li>设置值</li>
    <li>操作</li>
  </ul>
  {% raw %}
  <script type="text/template" id="temp">
  {% for items in data %}
    <ul class="content-table">
      <li class="table-checkbox" data-id="{{ items.id }}">{{loop.index}}</li>
      {% if (items.attributes.key == 'booking_limit_days') %}
      <li>课程预约时间限制(天)</li>
      {% elif (items.attributes.key == 'course_view_days') %}
      <li>课程浏览时间限制(天)</li>
      {% elif (items.attributes.key == 'cancel_limit_minutes') %}
      <li>课程冻结时间(分钟)</li>
      {% elif (items.attributes.key == 'queue_limit_number') %}
      <li>允许排队人数(个)</li>
      {% endif %}
      <li>{{ items.attributes.value }}</li>
      <li data-id="{{ items.id }}">
        <a class="j-editStore" href="javascript:void(0);">编辑</a>
        <a href="#">设置课程表</a>
      </li>
    </ul>
    {% endfor %}
  </script>
  {% endraw %}
  <!-- <nav id="j-html" class="cs-pagination">
    <ul id="j-pagination" class="pagination iy-right">
      <li class="pageUp"><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li class="pageNext"><a href="#">&raquo;</a></li>
    </ul>
  </nav> -->
</div>
{% endblock -%}
{%- block script %}
<!-- Latest compiled and minified JavaScript -->
<script src="/js/course_rules.js?v1114"></script>
{%- endblock %}
