{% extends 'layout/base.html' %}
{% block style %}
<link rel="stylesheet" href="//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="/css/login.css">
{% endblock %}
{% block body %}
<div class="login-box">
  <div class="login-img"></div>
  <div class="login-form" >
    <form id="productForm">
      <div class="form-group">
        <input type="text" class="form-control input-username" name="username" placeholder="用户名" autocomplete="off">
      </div>
      <div class="form-group form-password">
        <input type="password" class="form-control input-password" name="password" placeholder="密码" >
        <!--<input name="submit" class="glyphicon glyphicon-download icon-login btn-login" type="submit">-->
        <button type="submit" name="submit" class="glyphicon glyphicon-download icon-login btn-login"></button>
      </div>
    </form>
  </div>
  <div class="forget-pwd "><a class="btn btn-link">忘记密码</a></div>
</div>

<div class="modal fade bs-example-modal-sm modal-alert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">错误提示</h4>
      </div>
      <div class="modal-body">
        账号或密码不正确！
      </div>
    </div>
  </div>
</div>

{% endblock%}
{% block script %}
<script src="//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/language/zh_CN.min.js"></script>
<script src="/js/login.js"></script>
{% endblock %}
