{% extends 'layout/tab_course.html'%}
{% block style -%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="css/store_manage.css">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '门店管理'%}
{% block body -%}
  <div class="content-add">
    <a href="#" class="btn btn-large btn-block btn-info iy-left">+ 添加</a>
    <div class="input-group iy-right">
      <input type="text" class="form-control" placeholder="请输入关键词">
      <span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>
    </div>
  </div>
  <ul class="content-table">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>3</li>
    <li>3</li>
    <li>3</li>
    <li>3</li>
  </ul>
{% endblock -%}
{%- block script %}
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="js/store_manage.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#example').DataTable();
  });
</script>
{%- endblock %}
