{% extends 'layout/tab_course.html'%}
{% block style -%}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="css/course.css">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '门店管理'%}
{% block body -%}
<div class="storeadd-box">
  <div class="content-title">
    <h4>添加 / 编辑门店</h3>
  </div>
  <div class="content-text">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="input1" class="col-sm-2 control-label">门店名称：</label>
        <div class="col-sm-3">
          <input id="j-name" type="text" class="form-control" placeholder="请输入内容">
        </div>
      </div>
      <div class="form-group">
        <label for="select1" class="col-sm-2 control-label">门店地址：</label>
        <div class="col-sm-3">
          <select id="j-address" class="selectpicker">
            <option>请选择</option>
            <option>1</option>
            <option>2</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="text1" class="col-sm-2 control-label">门店介绍：</label>
        <div class="col-sm-6">
          <textarea id="j-text" class="form-control" rows="5"  placeholder="请输入备注" style="resize: none"></textarea>
        </div>
      </div>
    </form>
      <button id="j-save" type="button" class="btn btn-info">保存</button>
  </div>
</div>
{% endblock -%}
{%- block script %}
<!-- Latest compiled and minified JavaScript -->
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="/js/store_manage_add.js"></script>
{%- endblock %}
