{% extends 'layout/tab_course.html'%}
{% block style -%}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/css/time_tables.css?v1114">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '排课程表'%}
{% set timeTable = 'active'%}
{% block body -%}
<div class="content-add">
  <div class="btn btn-large btn-info btn-add-store iy-left" id="add_course_modal">添加课程</div>
  <div class="btn btn-large btn-info iy-left" id="add_copy_modal">复制课程表</div>
  <div class="btn btn-large btn-info iy-left js-btn-delete">清空当前课程表</div>
  <div class="input-group select-store-box iy-right">
    <select class="form-control select-store">
    </select>
  </div>
</div>
<div class="calendar-bar">
  <div class="btn btn-default btn-calendar-prev"><i class="glyphicon glyphicon-chevron-left"></i></div>
  <div class="btn btn-default btn-calendar-next"><i class="glyphicon glyphicon-chevron-right"></i></div>
  <div class="btn btn-large btn-info btn-publish hide" >发布本周课程</div>
</div>
<div class="calendar-box">
  <div id="date_box" class="calendar-row calendar-date">

  </div>
  <div id="week_box" class="calendar-row calendar-week">

  </div>
  <div id="schedules_list" class="calendar-container c-c-bg">

  </div>

</div>



<script id="tmp_schedules" type="text/template">
  {% raw %}
  <div class="c-c-column calendar-course">
  {% for item in data.resouce %}
    {% if data.tDate == item.attributes.thisDate %}
    <div class="column-cell" data-id="{{item.id}}" data-publish="{{item.attributes['is-published']}}" data-booknumber="{{item.attributes['booked-number']}}">
      <p><span class="cell-time">{{item.attributes.startTime}}~{{item.attributes.endTime}}</span><span class="cell-capacity">{{item.attributes.capacity}}/{{item.attributes['booked-number'] + item.attributes['waiting-number']}}/{{item.attributes['complete-number']}}</span></p>
      <p><span class="cell-time">{{item.attributes['course-name']}}</span><span class="cell-capacity" >{% if item.attributes['is-published'] %}已发布{% else %}未发布{% endif %}</span></p>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  {% endraw %}
</script>
<script id="tmp_select_store" type="text/template">
  {% raw %}
  {% for item in data %}
  <option value="{{ item.id }}">{{ item.attributes.name }}</option>
  {% endfor %}
  {% endraw %}
</script>
<script id="tmp_select_course" type="text/template">
  {% raw %}
  {% for item in data %}
  {% if item.attributes['status'] == 'active' %}
  <option value="{{ item.id }}" data-default-capacity="{{item.attributes['default-capacity']}}">{{ item.attributes.name }}</option>
  {% endif %}
  {% endfor %}
  {% endraw %}
</script>
<script id="tmp_select_customers" type="text/template">
  {% raw %}
  {% for item in data %}
  {% if not item.attributes['is-locked'] %}
  <option value="{{ item.id }}">{{ item.attributes.name }}</option>
  {% endif %}
  {% endfor %}
  {% endraw %}
</script>

<script id="tmp_date_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <div class="calendar-row-info">{{item.date}}</div>
  {% endfor %}
  {% endraw %}
</script>
<script id="tmp_week_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <div class="calendar-row-info">{{item.week}}</div>
  {% endfor %}
  {% endraw %}
</script>
<script id="tmp_show_block" type="text/template">
  {% raw %}
  <form role="form" data-id="{{data.id}}">
    <div class="form-group">
      <label>开始时间:</label>{{ data.courseDate }} {{ data.startTime }}
    </div>
    <div class="form-group">
      <label>结束时间:</label>{{ data.courseDate }} {{ data.endTime }}
    </div>
    <div class="form-group" data-id="{{ data.storeId }}">
      <label>门店名称:</label>{{ data.storeName }}
    </div>
    <div class="form-group" data-id="{{ data.courseId }}">
      <label>课程名称:</label>{{ data.courseName }}
    </div>
    <div class="form-group">
      <label>课程容量:</label>{{ data.capacity }}
    </div>
  </form>
  {% endraw %}
</script>
<script id="tmp_trainings_box" type="text/template">
  {% raw %}
  {% for item in data %}
  <ul class="content-table">
    <li>{{loop.index}}</li>
    <li class="table-cell-2">{{ item.attributes['customer-name'] }}</li>
    <li class="table-cell-2">
      {% if item.attributes['booking-status'] == 'no_booking' %}
        管理员预约
      {% elif item.attributes['booking-status'] == 'booked' %}
        客户预约
      {% elif item.attributes['booking-status'] == 'waiting' %}
        排队中
      {% else %}
        取消预约
      {% endif %}
    </li>
    <li class="table-cell-2">
      {{ item.attributes['readable-status'] }}
    </li>
    <li class="table-cell-4" data-id="{{ item.id }}">
      <a class="cancel-training">取消预约</a>
      <!--{% if item.attributes['cancelable'] %}-->
        <!--<a class="cancel-training">取消预约</a>-->
      <!--{% endif %}-->
      {% if item.attributes['booking-status'] == "waiting" %}
        <a class="waiting-training">排队成功</a>
      {% else %}
        {% if not (item.attributes['training-status'] == 'normal') %}
          <a class="complete-training">完成</a>
        {% endif %}
        {% if not (item.attributes['training-status'] == 'be_late') %}
          <a class="later-training">迟到</a>
        {% endif %}
        {% if not (item.attributes['training-status'] == 'absence') %}
          <a class="absence-training">缺勤</a>
        {% endif %}
      {% endif %}
    </li>
  </ul>
  {% endfor %}
  {% endraw %}
</script>
{%- endblock %}
{% block modal -%}

<div id="course_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加课程</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="course_date">上课日期</label>
            <div class='input-group date datetimepicker'>
              <input type='text' id="course_date" class="form-control start_datetime" />
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
            </div>
          </div>
          <div class="form-group">
            <label for="start_datetime">开始时间</label>
            <div class='input-group date datetimepicker'>
              <input type='text' id="start_datetime" class="form-control start_datetime" />
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
            </div>
          </div>
          <div class="form-group">
            <label for="over_datetime">结束时间</label>
            <div class='input-group date datetimepicker '>
              <input type='text' id="over_datetime" class="form-control over_datetime" />
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
            </div>
          </div>
          <div class="form-group">
            <label for="select_store_add">选择门店</label>
            <select id="select_store_add" class="form-control" disabled>
            </select>
          </div>
          <div class="form-group">
            <label for="select_course">选择课程</label>
            <select id="select_course" class="form-control" title="请选择课程">
            </select>
          </div>
          <div class="form-group">
            <label for="course_number">课程容量</label>
            <input type="number" class="form-control" id="course_number" placeholder="">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary js-btn-save">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="course_show_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">修改课程</h4>
      </div>
      <div class="modal-body">
        <div id="course_show_body"></div>
          <div class="btn btn-large btn-info js-create-trainings"
               data-toggle="modal" data-target="#trainings_modal">添加用户</div>
        <div class="content-text">
          <ul class="content-table title">
            <li> </li>
            <li class="table-cell-2">会员名称</li>
            <li class="table-cell-2">预约状态</li>
            <li class="table-cell-2">训练状态</li>
            <li class="table-cell-4">操作</li>
          </ul>
          <div id="trainings_box">

          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger js-btn-del">删除</button>
        <button type="button" class="btn btn-primary js-btn-update">修改</button>
        <button type="button" class="btn btn-primary js-btn-published">发布</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="trainings_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加训练</h4>
      </div>
      <div class="modal-body">
        <select id="trainings_select"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary js-btn-create">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="copy_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">复制课程表</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="copy_datetime">复制课程表时间</label>
            <div class='input-group date datetimepicker'>
              <input type='text' id="copy_datetime" class="form-control start_datetime" />
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
            </div>
          </div>
          <div class="form-group">
            <label for="parse_datetime">目标课程表时间</label>
            <div class='input-group date datetimepicker'>
              <input type='text' id="parse_datetime" class="form-control start_datetime" />
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary js-btn-copy">复制</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include 'layout/modal.html' %}
{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/time_tables.js?v1115"></script>
{%- endblock %}
