{% extends 'layout/tab_course.html'%}
{% block style -%}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/css/time_tables.css">
{%- endblock %}
{% set secondary = '课程管理'%}
{% set breadcrumb = '排课程表'%}
{% set timeTable = 'active'%}
{% block body -%}
<div class="content-add">
  <div class="btn btn-large btn-info btn-add-store iy-left"
       data-toggle="modal" data-target="#course_modal">添加课程</div>
  <div class="input-group select-store-box iy-right">
    <select class="form-control select-store" title="请选择门店">
    </select>
  </div>
</div>
<div class="calendar-bar">
  <div class="btn btn-default btn-calendar-prev"><i class="glyphicon glyphicon-chevron-left"></i></div>
  <div class="btn btn-default btn-calendar-next"><i class="glyphicon glyphicon-chevron-right"></i></div>
</div>
<div class="calendar-box">
  <div id="date_box" class="calendar-row calendar-date">

  </div>
  <div id="week_box" class="calendar-row calendar-week">

  </div>
  <div id="schedules_list" class="calendar-container c-c-bg">

    <!-- <div class="c-c-column calendar-course">
      <div class="column-cell"><span>下肢蹲</span></div>
      <div class="column-cell"><span>下肢蹲</span></div>
      <div class="column-cell"> </div>
      <div class="column-cell"><span>功能蹲+平衡训练+下肢蹲</span></div>
      <div class="column-cell"> </div>
      <div class="column-cell"><span>基础课</span></div>
      <div class="column-cell"><span>基础课</span></div>
      <div class="column-cell"><span>基础课</span></div>
      <div class="column-cell"><span>基础课</span></div>
    </div> -->

  </div>

</div>

<div id="course_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加课程</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="course_date">上课日期</label>
            <div class='input-group date datetimepicker'>
              <input type='text' id="course_date" class="form-control start_datetime" />
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
            </div>
          </div>
          <div class="form-group">
            <label for="start_datetime">开始时间</label>
            <div class='input-group date datetimepicker'>
              <input type='text' id="start_datetime" class="form-control start_datetime" />
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
            </div>
          </div>
          <div class="form-group">
            <label for="over_datetime">结束时间</label>
            <div class='input-group date datetimepicker '>
              <input type='text' id="over_datetime" class="form-control over_datetime" />
              <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
            </div>
          </div>
          <div class="form-group">
            <label for="select_store_add">选择门店</label>
            <select id="select_store_add" class="form-control" title="请选择门店" >
            </select>
          </div>
          <div class="form-group">
            <label for="select_course">选择课程</label>
            <select id="select_course" class="form-control" title="请选择课程">
            </select>
          </div>
          <div class="form-group">
            <label for="course_number">课程人数</label>
            <input type="number" class="form-control" id="course_number" placeholder="">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary js-btn-save">新增</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script id="tmp_shcedules" type="text/template">
  {% raw %}
  <div class="c-c-column calendar-course">
  {% for item in data.resouce %}
    {% if data.tDate == item.thisDate %}
    <div class="column-cell" data-id="{{item.id}}">
      <span>{{item.startTime}}~{{item.endTime}}</span>
      <span>{{item.attributes['course-name']}}</span>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  {% endraw %}
</script>
<script id="tmp_select_store" type="text/template">
  {% raw %}
  {% for item in data %}
  <option value="{{ item.id }}">{{ item.attributes.name }}</option>
  {% endfor %}
  {% endraw %}
</script>
<script id="tmp_select_course" type="text/template">
  {% raw %}
  {% for item in data %}
  <option value="{{ item.id }}" data-default-capacity="{{item.attributes['default-capacity']}}">{{ item.attributes.name }}</option>
  {% endfor %}
  {% endraw %}
</script>

<script id="tmp_date_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <div class="calendar-row-info">{{item.date}}</div>
  {% endfor %}
  {% endraw %}
</script>
<script id="tmp_week_block" type="text/template">
  {% raw %}
  {% for item in data %}
  <div class="calendar-row-info">{{item.week}}</div>
  {% endfor %}
  {% endraw %}
</script>

{%- endblock %}
{% block modal -%}
{% include 'layout/modal.html' %}
{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/time_tables.js"></script>
{%- endblock %}
