{% extends 'layout/tab_training.html' %}
{% block style -%}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/training.css">
{%- endblock %}
{% set breadcrumb = '预约管理' %}
{% block body -%}
<div class="member-list">
  <div class="content-add">
    <a href="trainingTourist" class="btn btn-large btn-block btn-info iy-left">散客预约</a>
    <div class="input-group iy-right">
      <input type="text" class="form-control" placeholder="请输入关键词">
      <span class="input-group-addon"><em class="glyphicon glyphicon-search"></em></span>
    </div>
    <select id="select_store_add" class="selectpicker select-control iy-right" title="请选择门店" >
      <option value="0">1</option>
      <option value="1">2</option>
      <option value="2">3</option>
      <option value="3">4</option>
      <option value="4">5</option>
      <option value="5">6</option>
    </select>
  </div>
  <div class="content-text">
    <ul class="content-table title">
      <li class="table-checkbox">1</li>
      <li>会员名称</li>
      <li>门店</li>
      <li class="table-cell-2">课程</li>
      <li  class="table-cell-2">电话</li>
      <li class="table-cell-3">上课时间</li>
      <li>状态</li>
      <li class="table-cell-2">操作</li>
    </ul>
    <ul class="content-table content-table-member">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>门店名称</li>
      <li class="table-cell-2">课程名称</li>
      <li class="table-cell-3">2015-08-09 7:30 - 8:30</li>
      <li class="table-cell-2">13376252234</li>
      <li>状态</li>
      <li>5</li>
      <li class="table-cell-2">
        <a href="#">预约</a>
      </li>
    </ul>
    <ul class="content-table content-table-tourist">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>门店名称</li>
      <li class="table-cell-2">课程名称</li>
      <li class="table-cell-3">2015-08-09 7:30 - 8:30</li>
      <li class="table-cell-2">13376252234</li>
      <li>状态</li>
      <li>5</li>
      <li class="table-cell-2">
        <a href="#">取消预约</a>
      </li>
    </ul>
    <ul class="content-table content-table-tourist">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>门店名称</li>
      <li class="table-cell-2">课程名称</li>
      <li class="table-cell-3">2015-08-09 7:30 - 8:30</li>
      <li class="table-cell-2">13376252234</li>
      <li>状态</li>
      <li>5</li>
      <li class="table-cell-2">
        <a href="#">预约</a>
      </li>
    </ul>

    <nav>
      <ul class="pagination iy-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
</div>
{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>

<script>
  $('#select_store_add').selectpicker({
    size: 5,
    liveSearch: true
  });
</script>
{%- endblock %}