{% extends 'layout/tab_training.html' %}
{% block style -%}
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/css/training.css">
{%- endblock %}
{% set breadcrumb = '训练查询' %}
{% set trainingHistory = 'active' %}
{% block body -%}
<div class="member-list">
  <div class="content-add form-add">
    <!-- <div class='input-group date datetimepicker start_datetime iy-left'>
      <input type='text' id="start_datetime" class="form-control" placeholder="请输入开始时间">
      <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
    </div>
    <div class='input-group date datetimepicker over_datetime iy-left'>
      <input type='text' id="over_datetime" class="form-control" placeholder="请输入结束时间">
      <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
    </div> -->
    <select id="select-course" class="selectpicker select-control" title="请选择课程">
      {% raw %}
      <script type="text/template" id="temp_courseList">
        {% for item in data %}
        <option value="{{ item.id }}">{{ item.attributes.name }}</option>
        {% endfor %}
      </script>
      {% endraw %}
    </select>

    <select id="select-store" class="selectpicker select-control" title="请选择门店" >
      {% raw %}
      <script type="text/template" id="temp_storeList">
        {% for item in data %}
        <option value="{{ item.id }}">{{ item.attributes.name }}</option>
        {% endfor %}
      </script>
      {% endraw %}
    </select>

    <!-- <div class='input-group search-control iy-left'>
      <input type='text' id="search_input" class="form-control" placeholder="请输入关键字">
    </div> -->
    <div class="btn-bar iy-left">
      <div class="btn btn-large btn-info">搜索</div>
      <div class="btn btn-large btn-info">导出</div>
    </div>
  </div>
  <div class="content-text">
    <ul class="content-table title">
      <li class="table-checkbox">1</li>
      <li>会员名称</li>
      <li>门店</li>
      <li class="table-cell-2">课程</li>
      <li class="table-cell-3">上课时间</li>
      <li  class="table-cell-2">电话</li>
      <li>状态</li>
      <li>容量</li>
      <li class="table-cell-2">操作</li>
    </ul>
    <ul class="content-table content-table-member">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>门店名称</li>
      <li class="table-cell-2">课程名称</li>
      <li class="table-cell-3">2015-08-09 7:30 - 8:30</li>
      <li class="table-cell-2">13376252234</li>
      <li>状态</li>
      <li>5</li>
      <li class="table-cell-2">
        <a href="#">完成</a>
        <a href="#">缺勤</a>
      </li>
    </ul>
    <ul class="content-table content-table-tourist">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>门店名称</li>
      <li class="table-cell-2">课程名称</li>
      <li class="table-cell-3">2015-08-09 7:30 - 8:30</li>
      <li class="table-cell-2">13376252234</li>
      <li>状态</li>
      <li>5</li>
      <li class="table-cell-2">
        <a href="#">完成</a>
        <a href="#">缺勤</a>
      </li>
    </ul>
    <ul class="content-table content-table-tourist">
      <li class="table-checkbox">1</li>
      <li>胡彦斌</li>
      <li>门店名称</li>
      <li class="table-cell-2">课程名称</li>
      <li class="table-cell-3">2015-08-09 7:30 - 8:30</li>
      <li class="table-cell-2">13376252234</li>
      <li>状态</li>
      <li>5</li>
      <li class="table-cell-2">
        <a href="#">完成</a>
        <a href="#">缺勤</a>
      </li>
    </ul>

    <nav>
      <ul class="pagination iy-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
</div>
{%- endblock %}
{% block script -%}
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-select/1.11.0/js/i18n/defaults-zh_CN.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/training_history.js"></script>
<script>

  var $startDatetime = $('.start_datetime');
  var $overDatetime = $('.over_datetime');
  $startDatetime.datetimepicker({
    format: 'YYYY-MM-DD hh:mm'
  });
  $overDatetime.datetimepicker({
    format: 'YYYY-MM-DD hh:mm',
    useCurrent: false
  });
  $startDatetime.on("dp.change", function (e) {
    $overDatetime.data("DateTimePicker").minDate(e.date);
  });
</script>
{%- endblock %}
