@import "tab";
@import "datatable";
@import "table_info";

.operating-block {
  display: none;
}

.more-height {
  padding: 5px 0;
  p {
    margin: 0;
    line-height: 15px;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: inherit;
  }
}