@import "course";
@import "training";

.chart-tmp {
  height: 250px;
  width: 300px;
  background-color: #efefef;
  z-index: 999;
  position: absolute;
  left: -280px;
  top: 20px;
  border-radius: 5px;
  padding: 15px;
  .tmp-left {
    float: left;
  }

}
