@import "course";
@import "training";

.chart-tmp {
  height: 250px;
  width: 300px;
  background-color: #efefef;
  z-index: 999;
  position: absolute;
  left: -280px;
  top: 20px;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  .tmp-left {
    // float: left;
  }

  .glyphicon-remove {
    float: right;
    color: #aaa;
    cursor: pointer;
  }
}
.content-text {
  overflow-x: scroll;

  .content-table {
    width: 1250px;
  }
}

.content-add {
  .input-group {
    &.select-store-box {
      width: 20%;
      float: right;
    }
  }

}
.content-table-sum {

  li {
    float: left;
    height: 30px;
    padding-right: 10px;
    line-height: 30px;
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}
