.head-title {
  height: 50px;
  margin: 20px 15px 0 15px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
}
.tag-box {
  height: 30px;
  margin: 0 15px;
  border-bottom: 1px solid #8f949a;

  .tag-block {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #f4f4f4;
    border-radius: 20px;
    border: 1px solid #8f949a;
    text-align: center;
    line-height: 20px;
  }
}
.weui_article {
  p {
    text-indent: 2rem;
  }
}
.weui_tabbar {

  .weui_btn {
    width: 100%;
    margin-top: 10px;
    border-radius: 0;

    &.weui_btn_warn {
      display: none;
    }
  }
  &:before {
    display: none;
  }
}
.weui_tabbar {
  position: fixed;
}