.clearFix() {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.cellBox() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.cellFlex(@number) {
  -webkit-box-flex: @number;
  -webkit-flex: @number;
  -ms-flex: @number;
  flex: @number;
}

.content-add {
  margin-top: 5px;

  .btn-block {
    width: 10%;
    background-color: #2DB7F5;
  }

  .input-group {
    width: 40%;
  }
  .input-group.select-store-box {
    width: 30%;
    margin-right: 20px;
  }

  &::after {
    .clearFix();
  }
}
.content-text {
  margin-top: 10px;

  .content-table {
    margin-bottom: -1px;
    display: flex;

    li {
      .cellFlex(1);
      height: 40px;
      margin-right: -1px;
      border: 1px solid #dfdfdf;
      text-align: center;
      line-height: 40px;

      &.table-cell-auto,
      &.table-cell-2 {
        .cellFlex(2);
      }
      &.table-cell-3 {
        .cellFlex(3);
      }
      &.table-cell-4 {
        .cellFlex(4);
        padding: 5px;
        line-height: 28px;
      }
      &.table-cell-5 {
        .cellFlex(5);
        padding: 5px;
        line-height: 28px;
      }
    }

    .table-checkbox {
      max-width: 50px;
    }

    &.title {
      background-color: #efefef;
    }
  }

  &>nav:after {
    .clearFix();
  }
}
.table-cell-info {
  text-align: left;
  vertical-align: middle;
  padding: 5px;

  p {
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
    overflow: hidden;
    text-align: left;
    line-height: 30px;
  }
}

.storeadd-box {
  margin-left: 25px;
  .content-title {
    border-bottom: 1px solid #efefef;
  }
  @media (min-width: 768px) {
    .col-sm-1-1 {
      float: left;
      width: 64px;
    }

    .col-sm-1-2 {
      float: left;
      width: 86px;
    }
  }
  .btn-info {
    margin-left: 9.5%;
  }
}

.iy-left {
  float: left;
}
.iy-right {
  float: right;;
}

.form-group {
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {

  }
  .bootstrap-select {
    width: 100%;
  }
}
.pagination>li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: #333;
  line-height: 30px;
  text-align: center;
  border: 1px solid #333;
}