.clearFix() {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.cellBox() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.cellFlex(@number) {
  -webkit-box-flex: @number;
  -webkit-flex: @number;
  -ms-flex: @number;
  flex: @number;
}
@width: 1200px;
@borderColor: #ececec;
@bgColor: #f4f4f4;

* {
  outline: none !important;
}
body {
  font-size: 12px;
  background-color: @bgColor;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  cursor: pointer;
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
.nav-bar {
  background-color: #080205;
}
.nav-center {
  width: @width;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  color: #939393;

  .logo {
    float: left;
    width: 100px;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
    background: url('../img/logo.jpeg') no-repeat center;
    background-size: 150%;
  }
  .nav-menu-bar {
    float: left;
    width: @width - 380px;
    font-size: 15px;

    .menu-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        float: left;
        width: 100px;
        height: 50px;
        text-align: center;

        a {
          color: #939393;
          text-decoration: none;
        }
        &.selected {
          a {
            color: #fff;
          }
        }
      }
      &:after {
        .clearFix();
      }
    }
  }
  .help-block {
    float: left;
    width: 80px;
    height: 50px;
    margin: 0;
    font-size: 15px;

    .glyphicon {
      margin-right: 5px;
      vertical-align: text-bottom;
    }
  }
  .user-block {
    float: right;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 100px;
    padding: 0 10px;
    font-size: 15px;

    &.sign-out {
      padding: 0;
      font-size: 12px;
      cursor: pointer;
    }
  }
  &:after {
    .clearFix();
  }
}
.breadcrumb {
  width: @width;
  margin: 0 auto;
}
