html, body {
  height: 100%;
  .cs-body {
    background-color: #EFEFEF;
    height: 100%;
    padding-top: 10px;
  }

  .cs-lf {
    float: left;
    color: #999;
  }

  .cs-rf {
    float:right;
    font-size: 14px;
    color: #cfcfcf;
  }
  .weui_media_box {
    .weui_media_desc {
      color: #000;
    }
  }
}
