html, body {
  height: 100%;
  background-color: #efefef;

  .weui_panel:before {
    content: none;
  }

  .cs-list-cell {
    .cs-list {
      height: 75px;
      position: relative;
      padding: 10px;
      &::after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid #cfcfcf;
        background-color: #cfcfcf;
        transform-origin: 0 100%;
        transform: scaleY(0.5);
      }
    }

    .cs-text {
      transform: translateX(0);
      em {
        font-style: normal;
        font-size: 12px;
        color: red;
        float: right;
        border: 1px solid red;
        border-radius: 5px;
        padding: 0 5px;
        margin-right: 15px;
      }

      .weui-media-box__title {
        margin-bottom: 14px;
      }

      .weui-media-box__desc {

      }
    }

    .cs-del {
      display: none;
      position: absolute;;
      background-color: red;
      right: 0;
      top: 0;
      height: 100%;
      line-height: 85px;
      padding: 0 15px;
      color: #fff;
      transform: translateX(62px);
    }

    .cs-list-active {
      .cs-text {
        transform: translateX(-62px);
        transition: 2s;
      }

      .cs-del {
        transform: translateX(0);
        transition: 2s;
        display: block;
      }
    }
  }
}
