@import "tab";

.form-bar {
  margin-bottom: 10px;

  .btn-add-store {
    float: left;
    margin-right: 10px;
  }
  .store-list {
    float: left;
    width: 150px;
  }
  &:after {
    .clearFix();
  }
}

.calendar-box {

}
