@import "tab";
@import "datatable";

.content-add {

  .input-group {
    width: 30%;
    margin-right: 3.333333%;
    margin-bottom: 10px;
  }
  .search-control {
    .form-control {
      border-radius: 5px;
    }
  }
}
.member-list {

  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    float: left;
    width: 30%;
    margin-right: 3.333333%;
    margin-bottom: 10px;
  }
}
.btn-bar {
  text-align: center;

  .btn {
    min-width: 80px;
  }
}

